<database>
    <dbName>goodtaste</dbName>
    <dbUri>jdbc:mysql://127.0.0.1:3306/</dbUri>
    <userName>root</userName>
    <password>111111</password>

    <!--only user table, feed table, followable table can be configured in this version-->
    <!--User can only append collums to the tables, note that many collumn names are -->
    <!--reserved because they must be contained in the sql template-->
    <!-- the charset for this whole application is utf8-->
    <tables>
        <userTable><!-- note, if user configured custom collums in followable named "user", the usertable configuration will be overwritten -->
            
        </userTable>
    </tables>
    <!-- current supported types are int, char, text which means the supported user custom java model properties are integer, long, string,float-->
    <!-- blobs are now not supported in this version because binary data can be stored as static files with a uri address, and it is complicate to make test automation for binary data-->
    <collumTypes>
        <type>
            <name>int</name>
            <dataType>INT11</dataType>
        </type>
        <type>
            <name>char</name>
            <dataType>VARCHAR(512)</dataType>
        </type>
        <type>
            <name>text</name>
            <dataType>TEXT</dataType>
        </type>
        <type>
            <name>long</name>
            <dataType>BIGINT</dataType>
        </type>
        <type>
            <name>float</name>
            <dataType>float</dataType>
        </type>
    </collumTypes>
    <followables>
    <!-- a followable is an abstract object which is made of feeds. when user posts feeds to a followable, those who follow this followable will have feeds occur in their inbox-->
    <!-- the typical followable is user, when a user posts one feed, his follower will have feeds pushed into their "what do people I follow say" page-->
    <!-- followable can be a group, when user post new thread into the group, user who joins(follows) this group can get new group feed on their "what happens in my groups" page-->
    <!-- followable can be a tag, when feed contains this tag occur, user who is intrested in this tag will receive the feed in their "tag I like " page-->
    <!-- ... -->
    <!-- followable can be anything user care about and want to be informed of -->
    <!-- there is a default feed table design. A followable usually has an independent feed table to store its data.
    but user can specify if the feed data is duplicate to another table's, when this is set,  
    -->
    <followable>
        <name>user</name>
        <feedContentTable><!-- a table `userfeed` `userfeedcontent` will be automatically created -->
            <customCollumns>
            <collumn>
                <name>attachment</name>
                <type>char</type>
                <collumnIndex>
                    <create>true</create>
                    <unique>false</unique>
                </collumnIndex>
                <notNull>true</notNull>
                <default>null</default>
            </collumn>
            </customCollumns>
        </feedContentTable>
        <followableTable>
            <customCollumns>
            <collumn>
                <name>info</name>
                <type>char</type>
                <collumnIndex>
                    <create>true</create>
                    <unique>false</unique>  
                </collumnIndex>
                <notNull>true</notNull>
                <default>null</default>
            </collumn>
            </customCollumns>
        </followableTable>
    </followable>
    
    <followable>
        <name>tag</name>
        <feedContentTable>
            <referenceAnotherFollowablesFeed>user</referenceAnotherFollowablesFeed>
        </feedContentTable>
        <followableTable>
            <customCollumns>
            <collumn>
                <name>tagName</name>
                <type>char</type>
                <collumnIndex>
                    <create>true</create>
                    <unique>true</unique>
                </collumnIndex>
                <notNull>true</notNull>
                <default>null</default>
            </collumn>
            </customCollumns>
        </followableTable>
    </followable>
    
    <followable>
        <name>group</name>
        <feedContentTable><!-- a table `groupfeed` `groupfeedcontent` will be automatically created -->
            <customCollumns>
            <collumn>
                <name>title</name>
                <type>char</type>
                <collumnIndex>
                    <create>false</create>
                    <unique>false</unique>
                </collumnIndex>
                <notNull>true</notNull>
                <default>null</default>
            </collumn>
            </customCollumns>
        </feedContentTable>
    </followable>
    
    </followables>
</database>