#sidebar {
    display: block;
    float: left;
    position: relative;
    width: 280px;
    z-index: 16;
}
#content {
    border-top-left-radius: 8px;
    margin-left: 280px;
    margin-right: 0;
    min-height: 500px;
    padding-bottom: 25px;
    position: relative;
    width: auto;
}